{
  "sdk_version": "sprint33",
  "executable": "Main.loom",
  "display": {
    "width": 1280,
    "height": 720,
    "title": "CodenameSnowman",
    "stats": true,
    "orientation": "landscape"
  },
  "app_id": "co.theengine.CodenameSnowman",
  "app_name": "CodenameSnowman",
  "app_version": "1.0.0",
  "app_version_code": "1"
}